{% extends "app/base.html" %}
{% load custom_filters %}
{% block content %}
<h1 class="subtitle flex_ct m-4">DASHBORD</h1>
<div class="wrp_content">
  {% if bookings|length == 0%}
  <div class="subtitle flex_ct" >

    You have not made any booking with us!
    Wou
  </div>
      <div class="subtitle center">Would you like to make a <a href="{% url 'strat_reservation'%}">booking</a>?</div>
    {% else %}
     {% for booking in bookings%}
 <a href="{% url 'details_booking' booking.id  %}">
   <div class="flex_ct wrp_detail-fl">
    <div>
      <h5>Booking details: <small>{{booking.nr_reservation}}</small></h5>
      <div>Period: {{booking.check_in}} to {{booking.check_out}}</div>
      <div>Days: {{booking.nr_days}} days</div>
      <div>Number of people: {{booking.nr_person}}</div>
      <div>Days: {{booking.nr_days}}</div>
      <div>Room number: {{booking.room.room_number}}</div>
      <div>Room type: {{booking.room.room_type.name}}</div>
      <div>Total: {{booking.amount}}</div>
    </div>
  </div>
</a>
{% endfor %}
    {%endif%}

</div>
{% endblock content %}