{% extends "app/base.html" %}
{% block content %}
<main class="sc-main">
    <div class="container_banner">
        <div class="container_header_content"> 
        <div class="container__title-header" >
            <div class="cover">
                  <h4>
                     WELCOME TO MALA RESORT!
                  </h4>
            </div>
        </div> 
        <div class="container_small_imgs-banner">
            <div class="img1 small-img">
            </div>
            <div class="img2 small-img">
            </div>
            <div class="img3 small-img">
            </div>
            <div class="img4 small-img"> 
            </div>
        </div>
    </div>
 <div class="wrapper_img_banner banner"  id="id--intro-home">
   </div>  
    </div>
    <div class="container_main">
    <section>
        <div class="flex_ct m-4">
            <h2 class="subtitle">Madeira </h2>
            <p class="m-2">European Portuguese officially the Autonomous Region of Madeira (Portuguese: Região Autónoma da Madeira), is an autonomous region of Portugal. It is an archipelago situated
             in the North Atlantic Ocean, in the region of Macaronesia, just under 400 kilometres (250 mi) north of the Canary Islands, Spain,
              520 kilometres (320 mi) west of the Morocco and 805 kilometres (500 mi) southwest of mainland Portugal. Madeira sits on the African Tectonic Plate, 
            but is culturally, politically and ethnically associated with Europe, with its population predominantly descended from Portuguese settlers.
             Its population was 251,060 in 2021. The capital of Madeira is Funchal, on the main island's south coast.

The archipelago includes the islands of Madeira, Porto Santo, and the Desertas, administered together with the separate archipelago of the Savage Islands. 
Roughly half of the population lives in Funchal. The region has political and administrative autonomy through the Administrative Political Statute of the
 Autonomous Region of Madeira provided for in the Portuguese Constitution. The region is an integral part of the European Union as an outermost region.
  Madeira generally has a mild/moderate subtropical climate with mediterranean summer droughts and winter rain. Many microclimates are found at different elevations. </p>
        </div>
    </section>
<section class="sc_about_us section">
    
    <div class=" container-intro container-flex">
           <div class="intro_about">
            <div class="subtitle">
                <h3>We will make your staying unforgetable</h3> 
             </div>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Exercitationem aspernatur ducimus molestias atque nemo ab architecto
                  magnam necessitatibus modi praesentium. 
                Aspernatur dolor at ducimus, obcaecati porro quos impedit tempore sed?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum 
                doloremque exercitationem repellendus quae, voluptate, tempore molestiae
                 alias commodi
                 harum beatae corporis nihil aut quia modi laboriosam ab quis ut saepe.
         </p>
    
            </div>
        <div class="wrp-imgs">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/madeira4.jpg" class="d-block w-100" alt="image Mala resort">
    </div>
    <div class="carousel-item">
      <img src="/media/madeira5.jpg" class="d-block w-100" alt="image Mala resort">
    </div>
    <div class="carousel-item">
      <img src="/media/madeira6.jpg" class="d-block w-100" alt="image Mala resort">
    </div>
      <div class="carousel-item">
      <img src="/media/madeira7.jpg" class="d-block w-100" alt="image Mala resort">
    </div>
      <div class="carousel-item">
      <img src="/media/madeira3.jpg" class="d-block w-100" alt="image Mala resort">
    </div>
  </div>
</div>
</div>

</div>
   </section>
    
   </div>
     </main>
{% endblock content %}